// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #F1C40F;
$orange: #F39C12;
$green: #1EDD88;
$gray: #787777;
$light-gray: #BDC3C7;
$black: black;
$turquoise: #1abc9c;
$white: #FFFFFF;

$custom-color: #ECEBE4; /* background color */
$font-color: black; /* font color */

// #E4EBF5
