<%= render 'partials/title_bar', title: "Your Conquest Chart" %>

<div class="container">
<h4>You have captured xx kanjis so far!</h4>
<div class="map mt-3 mx-auto"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  <!-- Please advise me good wording... the following will redirect to all user's kanji map -->
<a href="">Check other people's activity</a>
</div>
