<nav class="titlebar fixed-top w-100 d-flex flex-wrap-nowrap justify-content-center align-items-center">

  <% button_classes = "titlebar titlebar-button d-flex flex-wrap-nowrap justify-content-center align-items-center" %>
  <%= link_to destination, class: button_classes do %>
      <i class="fs-4 text-white fa-solid fa-circle-chevron-left"></i>
  <% end %>

  <span class="text-center text-white w-100 user-select-none" style="white-space: nowrap;">
      <%= title %>
  </span>
</nav>

<div class="" style="height: 35px;"></div>
