  <div class="container">
    <div class="col-12 d-flex flex-column justify-content-center align-items-center box bg-secondary opacity-75">
      <!--
      <div class="text-white app-title" style="font-size: 8vmin; text-shadow: 2px 2px 2px black;">Kanji Cam</div>
      -->
      <%# <div class="mt-3 mx-5 container d-flex justify-content-center align-items-center bg-white"> %>

        <%= image_tag 'kanji_cam_logo.svg', class: "svg-shadow", style: "width: 100%; max-height: 40vmin;" %>

        <div class="row mx-auto p-3 caption">
          <h1 class="fs-2 text-white mt-3" style="text-shadow: 2px 2px 2px black;">
            <center>
              <strong>Snap Your Way to Kanji Mastery!</strong>
              <br>
              <strong>Master Kanji in a Flash!</strong>
            </center>
          </h1>
          <%# <p class="fs-7">Kanji.cam transforms every snapshot into a learning opportunity, making Kanji mastery not just a goal but a journey filled with fun and discovery. </p> %>
        </div>

        <%= link_to capture_path, class: "text-white", style: "text-decoration: none;" do %>
          <div class="btn btn-primary btn-lg btn3d">
            <span class="fs-3">
              Get started
            </span>
          </div>
        <% end %>

      </div>
    </div>


<script src="/kanji-rain/kanji-rain.js" defer></script>
