<% title_content = "#{current_user.email.split("@").first.capitalize}'s Dashboard | #{@points} Points" %>

<%= render 'partials/title_bar', destination: root_url, title: title_content %>
<div class="container mt-3">
    <div class="box mt-3">
      hi
    </div>
</div>
