<div class="d-flex flex-column justify-content-center align-items-center">
  <%= render 'partials/tomo_frame', image_path: "tomo/hakama.jpeg", frame_size: "30vh", kanji_char: @kanji.character, kanji_size: 25, kanji_pos: {x: 18.8, y: 28}, kanji_rot: "0, 1, 0, -40deg" %>
  <%= render 'partials/tomo_frame', image_path: "tomo/sailor_fuku.jpeg", frame_size: "30vh", kanji_char: @kanji.character, kanji_size: 18, kanji_pos: {x: 12.8, y: 9.6} %>
  <%= render 'partials/tomo_frame', image_path: "tomo/train.jpeg", frame_size: "30vh", kanji_char: @kanji.character, kanji_size: 18, kanji_pos: {x: 8.8, y: 24} %>
</div>
