:root {
  --button-size: 15vw;
}

.main-col {
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

#kanji-selection-box {
  display: flex;
  // max-height: 40vh;
  // overflow-y: scroll;
  touch-action: manipulation;
  user-select: none;
  -webkit-overflow-scrolling: touch; /* Enable touch scrolling for iOS devices */
}

.kanji-not-found {
  color: white;
  text-shadow: 1px 1px 1px black;
  font-size:10vmin;
  margin-top: 2vmin;
  padding: 1vmin 5vmin 1vmin 5vmin;
  border-radius: 20px;
  background-color: lightgray;
}

.kanji-choice {
  color: white;
  text-shadow: 1px 1px 1px black;
  font-size:10vmin;
  margin: 2vmin;
  padding: 1vmin 5vmin 1vmin 5vmin;
  border-radius: 20px;
  background-color: lightgray;
}

.kanji-choice:hover {
  background-color: rgb(160, 219, 160);
}

.selected {
  background-color: rgb(160, 219, 160);
}

.recognized-kanji {
  color: black;
  text-shadow: 2px 2px 2px white;
  font-size: 6vmin;
  /* background-color: black; */
}

#output-box {
  position: fixed;
  top: 0;
  left: 0;
  background-color: aliceblue;
  width: fit-content;
  padding: 10px;
  border-radius: 0 0 10px 0;
}

.full-screen {
  // position: fixed;
  /* background-color: aquamarine; */
  // height: 100vh;
  // width: 100vw;
  /* position: fixed; */
  // left: 0;
  // top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
}

#video-canvas-container {
  position: fixed;
  // background-color: aquamarine;
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
}

#camera-feed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  // background-color: blueviolet;
  z-index: -10;
}

#canvas {
  // background-color:blue;
  position: fixed;
  z-index: -5;
}

#alert-bar {
  position: fixed;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 5vh;
  /* background-color: aqua; */
  z-index: 5;
}

#alert-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  /* height: 10vh; */
  /* background-color: rgba(0, 0, 0, 0.3); */
  background-color: black;
  border-radius: 100px;
  padding: 10px 20px 10px 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 5vmin;
  color: white;
  opacity: 88%;
  user-select: none;
}

#button-bar {
  position: fixed;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  bottom: 10vh;
  /* background-color: aqua; */
}

#home-button {
  position: fixed;
  left: 20px;
  bottom: 10vh;
  color: white;
  // font-size: min(calc(var(--button-size) * 0.5), 40px);
  width: var(--button-size);
  height: var(--button-size);
  max-width: 80px;
  max-height: 80px;
  background-color: rgb(212, 212, 212);
  /* border: 5px solid white; */
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  user-select: none;
  z-index: 10;
}

#retake-symbol {
  font-variant: normal;
  text-shadow: 1px 1px 1px black;
}

.camera-icon {
  /* font-variant: normal;
  text-shadow: 1px 1px 1px black; */
  height: 70%;
  width: 70%;
}

#retake-button {
  position: fixed;
  right: 20px;
  bottom: 10vh;
  color: white;
  // font-size: min(calc(var(--button-size) * 0.5), 40px);
  width: var(--button-size);
  height: var(--button-size);
  max-width: 80px;
  max-height: 80px;
  background-color: darkred;
  /* border: 5px solid white; */
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  user-select: none;
  z-index: 10;
}

#retake-button:active {
  filter: brightness(1.1);
}

#button-border {
  /* position: fixed; */
  /* left: calc(50vw - var(--button-size) / 2); */
  /* bottom: 10vh; */
  border: 5px solid white;
  border-radius: 100%;
  width: var(--button-size);
  height: var(--button-size);
  max-width: 80px;
  max-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#capture-button {
  width: 90%;
  height: 90%;
  background-color: aliceblue;
  border-radius: 100%;
}

#capture-button:active {
  filter: brightness(0.9);
}
