// .custom-card {
//   padding: 20px;
//   border-radius: 18px;
//   // background: $custom-color;
//   // box-shadow:  5px 5px 10px #c4c3c6, -5px -5px 10px #ffffff;
//   color: $font-color;
//   width: 190px;
  // height: 254px;
  // backdrop-filter: blur(7px);
  // background-color: rgba(255, 255, 255, 0.5);
  // box-shadow: 35px 35px 68px 0px rgba(157, 177, 255, 0.2), inset -8px -8px 16px 0px rgba(157, 177, 255, 0.6), inset 0px 11px 28px 0px rgb(255, 255, 255);
  // transition: all 0.3s;
  // cursor: pointer;

  // &:active {
  //   transition-property: box-shadow;
  //   transition: ease;
  //   transition-duration: 300ms;
  //   border-radius: 18px;
  //   background: $custom-color;
  //   box-shadow: inset 5px 5px 10px #cbcacd, inset -5px -5px 10px #ffffff;
  // }

// }
// brown paper
// .custom-card {
//   width: 190px;
//   height: 254px;
//   display: flex;
//   padding: 2em;
//   box-shadow: 2px 3px 20px black, 0 0 60px #8a4d0f inset;
//   background: #fffef0;
//   filter: url(#wavy2);
//   color: $font-color;
// }

// computer looking
// .custom-card {
  // --font-color: #323232;
  // --font-color-sub: #666;
//   --bg-color: #fff;
//   --main-color: #323232;
//   --main-focus: #2d8cf0;
//   color: $font-color;
//   width: 230px;
//   height: 300px;
//   background: var(--bg-color);
//   border: 2px solid var(--main-color);
//   box-shadow: 4px 4px var(--main-color);
//   border-radius: 5px;
//   display: flex;
//   flex-direction: column;
//   justify-content: flex-start;
//   padding: 20px;
//   gap: 10px;
//   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

//   &:active {
//     box-shadow: inset 4px 4px var(--main-color);
//   }
// }

// .custom-card {
//   border-radius: 18px;
//   background: $bg-color;
//   box-shadow:  5px 5px 9px #dbdbd4,
//   -5px -5px 9px #fdfbf4;
//   color: $font-color;
// }

.parchment-card {
  background-color: #f7f4e9; /* Base color for parchment */
  color: #5a5343; /* Text color */
  padding: 20px;
  margin: 20px auto; /* Center the card */
  max-width: 600px; /* Set a max-width for the card */
  font-family: 'Times New Roman', serif;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.2); /* Soft shadow for depth */
  border: solid 2px #a99876; /* Border to simulate the edges of parchment */
  text-align: justify;
  transform: rotate(-1deg); /* Slight rotation for an aged look */
  border-radius: 8px; /* Rounded corners */
  position: relative; /* Needed for pseudo-elements */
  overflow: hidden; /* Ensures the pseudo-elements don't overflow the card's rounded corners */
}

.parchment-card::before, .parchment-card::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,0.8), rgba(255,255,255,0)); /* Fading edges */
  z-index: 1;
}

.parchment-card::before {
  left: 0;
  transform: rotate(-2deg);
}

.parchment-card::after {
  right: 0;
  transform: rotate(2deg);
  color: $font-color;
}



.card-img-top {
  border-radius: 10px;
}

.kanji-badge {
  font-size: 4vmin;
}

.badge-custom {
  color: white;
  background-color: #2B2A4C;
  opacity: 0.8;
}

.font-color {
  color: black;
}

.kanji-badge span {
  font-size: responsive; /* Example, use a specific strategy like vw units or media queries */
  word-wrap: break-word;
}

.temp-fix {
  height: 30vmin;
}

.card {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
}

.kanji-character {
  font-size: 3em; /* Adjust the size as needed */
}

.card-container {
  perspective: 1000px;
}

.flashcard {
  width: 338px; /* 1.3 times bigger than the original 260px width */
  height: 507px; /* 1.3 times bigger than the original 390px height */
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.card-side {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-front, .card-back {
  background-color: white;
}

.card-back {
  transform: rotateY(180deg);
}

// .card-container:hover .flashcard {
//   transform: rotateY(180deg);
// }

// Dashboard point display
.points-display {
  outline: none;
  box-sizing: border-box;
  text-align: center;
  border: none;
  border-radius: 10px;
  line-height: 2.5em;
  padding: 0 1em;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(110, 80, 20, 0.4),
    inset 0 -2px 5px 1px rgba(139, 66, 8, 1),
    inset 0 -1px 1px 3px rgba(250, 227, 133, 1);
  background-image: linear-gradient(
    160deg,
    #a54e07,
    #b47e11,
    #fef1a2,
    #bc881b,
    #a54e07
  );
  border: 1px solid #a55d07;
  color: rgb(120, 50, 5);
  text-shadow: 0 2px 2px rgba(250, 227, 133, 1);
}
