$icon-width: 48px;
$light-color: white;
$dark-color: $primary;

.map {
  border-radius: 20px;
  height: 65vh;
  position: relative;
  z-index: 0;
}

/*Not necessary because relative elements
have no position properties like (left, right, etc.)
also, this div is just a point with no width or height */
// .marker-pin-point {
//   position: relative;
//   left: -24px;
//   top: 10px;
//   transform-origin: right bottom;
// }

.marker-icon {
  background-color: $dark-color;
  border-color: $light-color;
  border-style: solid;
  border-radius: 100% 100% 0 100%;
  border-width: 1px;
  // box-shadow: 8px 8px 16px rgba(42, 44, 46, 0.08);
  color: $light-color;
  position: absolute;
  z-index: 1;

  /* POSITION FIX */
  right: 0px;
  bottom: 0px;
  transform: rotate(45deg);
  transform-origin: right bottom;
  width: 48px;
  height: 48px;

  // style of marker-icon and marker-text when marker-icon has active class
  &.active {
    background-color: $light-color;
    border-color: $dark-color;
    z-index: 9999;

    .marker-text {
      color: $dark-color;
    }
  }
}

.marker-text {
  color: $light-color;
  font-size: 20px;
  position: absolute;
  top: 16px;
  left: 50%;
  transform: translateX(-50%) rotate(-45deg);
}

.mapboxgl-popup {
  max-width: 400px;
  }
