.map {
  border-radius: 20px;
  height: 65vh;
}

.marker-container {
  width: 50px;
  height: 60px;
  position: relative;
  left: -24px;
  top: 10px;
  transform-origin: right bottom;
}

.marker {
  background-color: #f083e3;
  border-color: white;
  border-style: solid;
  border-radius: 100% 100% 0 100%;
  border-width: 1px;
  box-shadow: 8px 8px 16px rgba(42, 44, 46, 0.08);
  color: white;
  position: absolute;
  left: -24px;
  top: 10px;
  transform: rotate(45deg);
  transform-origin: right bottom;
  width: 48px;
  height: 48px;

  &.active {
    transition: transform 1s ease;
    background-color: white;
    border-color: #f083e3;
    animation: swing 0.1s ease-in-out alternate; // defines quickness of animation
    animation-fill-mode: forwards;
    z-index: 9999;
    // style of marker-text when marker is hovered
    .marker-text {
      color: #f083e3;
    }
  }
}

.marker-text {
  font-size: 20px;
  position: absolute;
  top: 16px;
  left: 50%;
  transform: translateX(-50%) rotate(-45deg);
}

.mapboxgl-popup {
  max-width: 400px;
  }
