.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar {
  // height: 15vmin;
  background: rgb(23,23,23);
  background: linear-gradient(0deg, rgb(100, 100, 100) 0%, rgba(200,200,200,1) 100%);
}

.navbar-icon {
  height: 13vmin;
}

.navbar-icon:hover {
  filter: brightness(1.5);
}
