.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar {
  background: rgb(23,23,23);
  background: #d9fae9;
}

.navbar-icon {
  height: 13vmin;
}

.navbar-icon:hover {
  filter: brightness(1.5);
}
