
.navbar-lewagon {
  justify-content: space-between;
  background: $bg-color;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar {
  background: $bg-color;
  // box-shadow:  5px 5px 10px #b9bec6, -5px -5px 10px #ffffff;
  // justify-content: space-between;
}

.navbar-icon {
  height: 14vmin;
  width: 14vmin;
  max-height: 10vh;
  max-width: 10vh;
  fill: $secondary2;
  box-shadow: 5px 5px 10px #b9bec6, -5px -5px 10px #ffffff;
  border-radius: 10px;
}

// .navbar-icon:hover {
//   filter: brightness(1.5);
// }

.navbar-icon-active .navbar-icon {
  fill: $primary;
  // filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.4));
  box-shadow: inset 5px 5px 10px #d7d6cf, inset -5px -5px 10px #fffff9;
}
