$titlebar-color: $primary;
$titlebar-height: 64px;


.titlebar {
  height: $titlebar-height;
  background-color: rgba(26, 188, 156, 1);
  margin: 0px;
}

.titlebar-button {
  text-decoration: none;
  position: absolute;
  left: 0;
  top: 0;
  height: $titlebar-height;
  width: $titlebar-height;
  background: $titlebar-color;
  background: linear-gradient(to right, rgba($titlebar-color ,1) 0%,rgba($titlebar-color ,1) 75%,rgba($titlebar-color ,0) 100%);
}
